﻿
@model MVClient.Models.LoginViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/Content/css/loginPage.css">
}


<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form id="loginForm" class="login-form" asp-controller="Account" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

            <div class="row">
                <div class="input-field col s12 center">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/logo.png" alt="" class="circle responsive-img valign profile-image-login"></a>
                    <p class="center login-form-text">Manager Log In</p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="Email" name="Email" type="text" />
                    <label for="Email">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="Password" name="Password" type="password" />
                    <label for="Password">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field  col s12">
                    <a id="submitBtn" href="#" class="btn waves-effect waves-light col s12 red darken-2">Login</a>
                    <p style="text-align: right">Don't have an account? Click <a href="@Url.Action("Register", "Account")">here</a>.</p>
                </div>
            </div>
        </form>
    </div>
</div>

<span id="callbackurl" class="hidden">@Url.Action("Login", "Account")</span>

@section Scripts {

    <!--Import script for this page-->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Content/js/createObject.js"></script>
}