﻿.coffee-container {
    position: relative;
  width: 40px;
  text-align: center;
  box-sizing: border-box;
    z-index: 1001;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.coffee-container * {
  box-sizing: border-box;
}

.steam {
  width: 4px;
  height: 6px;
  display: inline-block;
  position: relative;
  -webkit-animation: rise 1.25s ease-out infinite;
  animation: rise 1.25s ease-out infinite;
}
.steam:after, .steam:before {
  width: 4px;
  height: 7px;
  background: rgba(211, 47, 47, 0.3);
  content: "";
  position: absolute;
  display: block;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.steam:after {
  bottom: 2px;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.steam:before {
  top: 2px;
}
.steam:nth-child(2) {
  -webkit-animation-delay: -0.625s;
  animation-delay: -0.625s;
}
.steam:nth-child(2):after {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.steam:nth-child(2):before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.steam:nth-child(3) {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.steam:nth-child(3):after {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.steam:nth-child(3):before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.cup {
  width: 26.66667px;
  height: 20px;
  background: #d32f2f;
  margin: 0 auto;
  position: relative;
  border-radius: 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.handle {
  position: absolute;
  width: 10px;
  height: 16px;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(65%) translateY(-50%);
  transform: translateX(65%) translateY(-50%);
  border-radius: 8px;
  border: solid 4px #d32f2f;
}

.plate {
  width: 40px;
  border: solid 4px #d32f2f;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 3px;
}

@keyframes rotate {
  0% {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  50% {
    border-top-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }
  100% {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
}
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  50% {
    border-top-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }
  100% {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
}
@keyframes rise {
  0% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;
  }
}
@-webkit-keyframes rise {
  0% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;
  }
}
