﻿.hidden {
    display: none;
}

#upper-menu {
    margin-left: 50px;
}

.message-container {
    margin-top: 10%;
    padding: 10px;
    padding-bottom: 25px;
}

#home {
    width: 69%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.88);
}

#objectcreator {
    padding: 10px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.9);
}

.animated {
  -webkit-animation-name: buttonPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes buttonPulse {
0% { opacity: 0.5 }

50% { opacity: 1 }

100% { opacity: 0.5 }
}

@media only screen and (max-width: 600px) {
    .modal {
      margin-left: 0px !important;
      width: 100% !important;
    }
}

@media only screen and (min-width: 993px) {
    .modal {
      margin-left: 240px !important;
      width: 100% !important;
    }
}

.modalsize{
  margin-left: 10% !important;
  margin-right: 10% !important;
  width: 80% !important;
}


.resizeimg {
      max-height: 100px;
    }

.imagewrap {
  display: inline-block;
  position: relative;
}

.card-image {
  padding-top: 10px !important;
}

.fullo {
    height: 100% !important;
}

.donate-li {
    margin-top: 10px !important; 
    border-top: 1px solid grey !important; 
    padding-top: 10px !important; 
    text-align: center !important;
}

.profile-btn-wrapped {
    font-size: 14px !important;
    height: auto !important;
    word-wrap: normal;
    line-height: 17px !important;
    text-align: right;
}

.dropify-message p {
    text-align: center !important;
}

.container {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#main, footer {
  padding-left: 0px;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 14px 10px;
}

header .brand-logo img {
  width: 172px;
}

#layouts-horizontal .sidebar-collapse {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
}

#ul-horizontal-nav > li > a {
  padding: 0 8px;
}

#horizontal-nav {
  margin-top: 64px;
  z-index: -1;
}

@media only screen and (min-width: 993px) {
  #content {
    margin-top: 65px;
  }
}

.doughnut-chart-status {
  top: -85px;
}

/*----------------------------------------
    Horizontal Menu
------------------------------------------*/
#horizontal-nav ul li {
  text-align: center;
}

#horizontal-nav ul li a i {
  height: 0px;
  line-height: 45px;
  font-size: 1.4rem;
}

#horizontal-nav ul li a span {
  position: relative;
  top: 12px;
}

#horizontal-nav .dropdown-menu span i {
  line-height: 65px;
}

.dropdown-horizontal-list li a {
  min-width: 150px;
  text-align: left;
  font-size: 1.0rem;
  padding: 10px;
  font-weight: 400;
}

/*IE Specific CSS */
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  #horizontal-nav ul li {
    min-width: 110px;
  }
  #horizontal-nav .dropdown-menu span i {
    line-height: 0px;
    position: absolute;
    top: 10px;
    right: -20px;
  }
}

header .brand-logo img {
    height: 50px !important;
    width: auto !important;
}

.greyish-text {
    color: #424242  ;
}