﻿@using Microsoft.AspNet.Identity

@{
    Layout = "_Layout.cshtml";
}

@section Styles {
    @RenderSection("styles", required: false)
}

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="@Url.Action("Index", "Home")" class="brand-logo darken-1">
                                <img src="~/Content/logo.png" alt="logo">
                            </a>
                            <span class="logo-text">Enjoy Movie Manager</span>
                        </h1>
                    </li>
                    <li></li>
                </ul>
                <div class="header-search-wrapper">
                    <i class="mdi-action-search"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Manager" />
                </div>
            </div>
        </nav>

        <!-- HORIZONTAL NAV START-->
        <nav id="horizontal-nav" class="white">
            <div class="nav-wrapper">
                <ul id="ul-horizontal-nav" class="left">
                    <li>
                        <a href="@Url.Action("Index", "Home")" class="black-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Homepage</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu black-text" href="#!" data-activates="ListsDropDown">
                            <i class="mdi-editor-format-list-bulleted"></i>
                            <span>Lists
                                <i class="mdi-navigation-arrow-drop-down right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu black-text" href="#!" data-activates="MoviesDropDown">
                            <i class="mdi-maps-local-movies"></i>
                            <span>
                                Movies
                                <i class="mdi-navigation-arrow-drop-down right"></i>
                            </span>
                        </a>
                    </li>
                    @if (Request.Url.AbsoluteUri.ToLower().Contains("movie/get"))
                    {
                        <li>
                            <a class="dropdown-menu black-text" href="#!" data-activates="MovieDropDown">
                                <i class="mdi-action-visibility"></i>
                                <span>
                                    Movie
                                    <i class="mdi-navigation-arrow-drop-down right"></i>
                                </span>
                            </a>
                        </li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="right">
                        <li>
                            <a href="@Url.Action("Get", "User", new {id = User.Identity.GetUserId()})" class="black-text">
                                <i class="mdi-social-person"></i>
                                <span>@User.Identity.Name</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")" class="black-text">
                                <i class="mdi-action-visibility-off"></i>
                                <span>Log Off</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>

        <!-- CSSdropdown -->
        <ul id="ListsDropDown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="@Url.Action("Index", "List")" class="black-text">View My Lists</a></li>
            <li><a href="@Url.Action("Create", "List")" class="black-text">Create Empty List</a></li>
        </ul>
        <ul id="MoviesDropDown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="@Url.Action("Index", "Movie")" class="black-text">View All Movies</a></li>
            <li><a href="@Url.Action("Create", "Movie")" class="black-text">Create Movie</a></li>
        </ul>
        <ul id="MovieDropDown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="@Url.Action("Rating", "Movie")" class="black-text toattachid">Add Rating</a></li>
            <li><a href="@Url.Action("Ratings", "Movie")" class="black-text toattachid">View Ratings</a></li>
            <li><a href="@Url.Action("Comment", "Movie")" class="black-text toattachid">Add Comment</a></li>
            <li><a href="@Url.Action("Comments", "Movie")" class="black-text toattachid">View Comments</a></li>
            <li><a href="@Url.Action("AddToListDisplay", "List")" class="black-text toattachid">Add to a List</a></li>
        </ul>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START CONTENT -->
        <section id="content">
            <!--START CONTAINER-->
            <div class="container" id="contentContainer">
                @RenderBody()
            </div>
            <!--END CONTAINER-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->

<!-- The MODAL for course -->
<div class="container" id="modalContainer">
</div>

@section Scripts {
    @*<script src="~/js/player.js"></script>
    <script src="~/js/anouncement.js"></script>*@
    @RenderSection("scripts", required: false)
}