﻿
<!DOCTYPE html>
<html lang="en">

<!--================================================================================
Name:  Main template for Manager by FX.
Version: 0.0.2
Author: FX & Co.
Author URL: https://bitbucket.org/marianfx
================================================================================ -->

<head>
    <!-- METADATA -->
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Manager - The extensible movie manager">
    <meta name="keywords" content="_Manager">
    <!-- METADATA END -->
    
    <title>@ViewData["Title"] - Manager</title>
    
    <!-- FAVICONS -->
    <link rel="icon" href="~/favicon.ico" sizes="32x32">
    <!-- Favicons - for iPhone -->
    <link rel="apple-touch-icon-precomposed" href="~/favicon.ico">
    <!-- Favicons - For Windows Phone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/favicon.ico">
    <!-- FAVICONS END -->
    
    <!-- STYLES -->    
    <!-- Import Global Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/css/layout.css">
    <!-- Import Google Icon Font -->
    <link type="text/css" rel="stylesheet" href="~/Content/lib/materialize/font.css">
    <!-- Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/lib/materialize/materialize.css" media="screen" />
    <!-- Import sweetalert(swal).css -->
    <link type="text/css" rel="stylesheet" href="~/Content/lib/sweetalert/sweetalert.css" media="screen" />
    <!-- Import perfect scrollbar.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/lib/perfect-scrollbar/perfect-scrollbar.css">

    <link type="text/css" rel="stylesheet" href="~/Content/css/home.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/site.css">

    <link type="text/css" rel="stylesheet" href="~/Content/css/coffee.css">

    @RenderSection("styles", required: false)
    <!-- STYLES END -->
    
</head>
<body>
    <!-- Start Page Loading -->
@*<div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>*@
    <div id="loader-wrapper">

        <div class="coffee-container">
            <div class="steam-container">
                <div class="steam"></div>
                <div class="steam"></div>
                <div class="steam"></div>
            </div>
            <div class="cup">
                <div class="handle"></div>
            </div>
            <div class="plate"></div>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    @RenderBody()

<!-- SCRIPTS -->
<script src="~/Content/lib/jquery/dist/jquery-2.1.1.min.js"></script>
<script src="~/Content/lib/materialize/materialize.js"></script>
<script src="~/Content/lib/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/js/layout.js"></script>
    <script src="~/Content/js/site.js"></script>

@RenderSection("scripts", required: false)
<!-- SCRIPTS END -->
</body>
</html>
