﻿@model MVClient.Models.ObjectModel

@{
    Layout = "../Shared/_HomeLayout.cshtml";
    ViewData["Title"] = Model.Description;
}

<div class="row message-container">
    <div class="col s12 offset-m4 col m4" id="objectcreator">
        <form id="createForm" action="@Model.CallbackUrl" enctype="multipart/form-data" method="@Model.FormMethod">
            <div class="row center">
                <div class="input-field col s10 offset-s1">
                    @if (ViewData.ContainsKey("Success"))
                    {
                        <p class="center login-form-text">Succes!</p>
                    }
                    <p class="center login-form-text">@Model.Description</p>
                </div>
            </div>
            @{
                if (Model.Fields == null || !Model.Fields.Any())
                {
                    <div class="row">
                        No data to display.
                    </div>
                }
                foreach (var elem in Model.Fields)
                {
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">@elem.Icon</i>
                            @if (elem.Type.ToLower() != "date")
                            {
                                <label for="@elem.Name">@elem.Description</label>
                            }
                            <input id="@elem.Name" name="@elem.Name" type="@elem.Type" />
                        </div>
                    </div>
                }
            }

            <div class="row">
                <div class="col s10 offset-s1">
                    <a id="submitBtn" href="#" class="btn waves-effect waves-light col s12 red darken-2">@Model.SubmitText</a>
                </div>
            </div>
        </form>
    </div>
</div>
<span id="callbackurl" class="hidden">@Model.CallbackUrl</span>


@section Scripts {
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 50 // Creates a dropdown of 15 years to control year
        });
    </script>
    <script src="~/Content/js/createObject.js"></script>
}
