﻿@using MVClient.Utils
@model MVClient.Models.ObjectView
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = Model.Description;
}

<div id="profile-page" class="section">
    <!-- profile-page-header -->
    <div id="profile-page-header" class="card">

        <div class="card-image waves-effect waves-block waves-light" style="overflow: hidden;background: url('@Url.Content("~/Content/images/5.jpg")');background-size: cover;background-position: center;"></div>

        <div class="card-content">
            <figure class="card-profile-image">
                <img src="@Model.ImageUrl" alt="@Model.Name.SplitByCapitalLetters() photo." class="circle z-depth-2 responsive-img  waves-block waves-light" style="min-height: 100px;">
            </figure>

            <div class="row">
                <div class="col s5" style="margin-left: 130px;">
                    <h4 class="card-title grey-text text-darken-4">@Model.Name</h4>
                    <p class="medium-small grey-text">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE HEADER -->
    <!-- START PROFILE CONTENT -->
    <div id="profile-page-content" class="row">

        <!-- profile-page-sidebar-->
        <div id="profile-page-sidebar" class="col s12">

            <!-- START PROFILE ABOUT - OTHER INFORMATION  -->
            <div class="col s12 m12">
                @foreach (var list in Model.Lists)
                {
                    <ul id="profile-page-about-details" class="collection z-depth-1">

                        <li class="collection-item">
                            <div class="row  center-align">
                                <div class="grey-text darken-1">
                                    <i class="mdi-editor-border-color"></i>
                                    @list.Name
                                </div>
                            </div>
                        </li>
                        
                        @foreach (var element in list.Elements)
                        {
                            <li class="collection-item">
                                <div class="row valign-wrapper">
                                    <div class="col s6 grey-text darken-1">
                                        <i class="@element.Icon"></i>
                                        @element.Name
                                    </div>
                                    <div class="col s6 grey-text text-darken-4 right-align">@Html.Raw(@element.Value)</div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                <!-- END PROFILE ABOUT -->
            </div>
        </div>
    </div>
</div>

<span id="current-object-id" class="hidden">@Model.Id</span>

@section Scripts {
    <script type="text/javascript">
        var myId = $("#current-object-id").text();
        var as = $(".toattachid");
        for (var i = 0; i < as.length; i++) {
            var cval = $(as[i]).attr("href");
            $(as[i]).attr("href", cval + "/" + myId);
        }
    </script>
}

