﻿
@{
    Layout = "../Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<div class="row col s12 message-container" id="home">

    <div class="row col s12 center-align black-text">
        <h3>Hello there, my friend!</h3>
        <h4>We welcome you to the world of Movies.</h4>
    </div>

    @if (!Request.IsAuthenticated)
    {
        <div class="row col s12 center-align greyish-text">
            <strong>It seems like you're not authenticated. Please, do use the button below.</strong>
        </div>
        <div class="row">
            <div class="input-field offset-s1 offset-m4 offset-l5 col s10 m4 l2">
                <a href="@Url.Action("Login", "Account")" class="btn waves-effect waves-light col s12 red darken-2">Login</a>
            </div>
        </div>
    }
    else
    {
        <div class="row col s12 center-align green-text">
            <h6>Dear <strong>@User.Identity.Name</strong>! We know you have a lot of work to do</h6>
        </div>
        <div class="row col s12 center-align green-text">
            <h6>But you should put things in motion here for now, so please check out that <strong>awesome menu</strong> up there.</h6>
        </div>
    }

</div>